*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform/
.terraform.lock.hcl
*.pem
*.key
*.pub
.env
.env.*
inventory.ini
ansible/inventory.ini
